body {
    background-color: rgb(89, 226, 181);
    height: 100%;
}

header {
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 20pt;
}


p {
 text-align: center;
 color: white;
 font-size: 1.8em;
 margin-bottom: 2in;
}

#splitPics {
    display: flex;
    justify-content: space-between;
}

#catface{
    display: grid;  
    height: 250px;
    width: 190px;
}

#dogface{ 
    height: 250px;
    width: 190px;
}

.playbuttons{
    display: flex;
    margin-top: .9in;
    justify-content: space-between;
}

.button1{
    background-color: rgb(83, 153, 240);
    color: white;
    font-size: 17pt;
    border-radius: 5px;
    height: 60pt;
    width: 100pt;
    
}

.button2{
    background-color: rgb(235, 56, 56);
    color: rgb(247, 231, 231);
    font-size: 17pt;
    border-radius: 5px;
    height: 60pt;
    width: 100pt;
}

/* img{
    height: 250px;
    width: 190px;
    border-radius: 10%; 
    margin-top: 230px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 60px 20px;
    grid-template-columns: space-between 30px ; }
*/